@font-face {
  font-family: myfont2;
  src: url("font.ttf");
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    font-family: myfont2, sans-serif;
	touch-action: none;
	-ms-touch-action: none;
	-webkit-touch-callout: none;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#mapselector img{
  width: 5vh;
  height: 5vh;
  cursor: pointer;
}

#mapselector img:hover{
  filter: brightness(125%);
}

#mapselector img:active{
  filter: brightness(80%);
}

#langselector{
  position: absolute;
  right: 1vw;
  top:1vh;
  color: white;
  font-size: 2vh;
}

#langselector p{
  cursor: pointer;
}

#langselector p:hover{
  text-decoration: underline;
}

.upgrade{
  display: block;
  width: 100%;
  height: 8vh;
  background-color: rgba(234, 141, 33, 0.58);
  color: white;
  margin-top: 1vh;
  margin-bottom: 1vh;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 2vh;
}

.upgrade img{
  width: 100%;
  height: 100%;
}

.rightcont img:hover{
  cursor: pointer;
  filter: brightness(125%);
}

.rightcont img:active{
  filter: brightness(250%);
}

.nobuyallow{
  filter: hue-rotate(260deg) brightness(120%) !important;
  cursor: auto !important;
  animation: unset !important;
}

#crown{
  display: inline-block;
  position: relative;
  width: 6vh;
  height: 6vh;
  float: right;
}

#crown img{
  width: 100%;
  height: 100%;
  animation: anim228 1.5s infinite;
  cursor: pointer;
}

@keyframes anim228 {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(150%);
  }
  100% {
    filter: brightness(100%);
  }
}

@keyframes anim229 {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(125%);
  }
  100% {
    filter: brightness(100%);
  }
}

.leftcont{
  display: inline-block;
  width: auto;
  height: 100%;
  float:left;
  margin-right: 1vw;
}

.rightcont{
  display: inline-block;
  width: auto;
  height: 100%;
  float:right;
  margin-right: 1vw;
}

#scoreblock{
  position: absolute;
  left: 50%;
  top: 1%;
  font-size: 5vh;
  color:white;
  transform: translateX(-50%);
  white-space: nowrap;
  pointer-events: none;
  text-shadow:2px 2px 4px rgba(0, 0, 0, 0.5);
}

#levelup, #air{
  position: absolute;
  left: 50%;
  top: 90%;
  font-size: 2vh;
  color:white;
  transform: translateX(-50%);
  white-space: nowrap;
  pointer-events: none;
  text-shadow:2px 2px 4px rgba(0, 0, 0, 0.5);
}

.mobilecontrol{
  position: absolute;
  z-index: 1;
  width: 128px;
  height: 128px;
  opacity: .3;
}

.mobilecontrol:active{
  opacity: .5;
}

#down{
  bottom: 30vh;
  left:1vw;
}

#up{
  bottom: 30vh;
  right: 1vw;
  transform: rotate(180deg);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.overlay .content {
    text-align: center;
}

.overlay h1 {
    color: white;
    font-size: 5vh;
  	margin: 0;
  	padding:0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.overlay p {
    color: white;
    font-size: 4vh;
  	margin: 0;
  	padding:0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#minigame{
  display: block;
  margin-top: 8vh;
  margin-bottom: 2vh;
}

button {
    background-color: #4fb74c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 2vh;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}

button:hover{
  background-color: green;
}

.checkbox{
  display: block;
  font-size: 4vh;
  height: 5vh;
  color:white;
  margin-top:4vh;
  margin-bottom:1vh;
}

.cb_button{
  display: inline-block;
  width: 9vw;
  height: 100%;
  margin-right: 3vw;
  font-size: 2vh;
  border: 1px solid white;
  border-radius: 12px;
  cursor: pointer;
}

.cb_inner2{
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 1vh;
}

.checkbox > span{
  position: relative;
  top: -1.5vh;
}

.cb_inner{
  display: inline-block;
  width: 10%;
  background-color: white;
  height: 100%;
}

.cb_align_left{
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  float:left;
}

.cb_align_right{
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  float:right;
}

.advp{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 20vw;
  font-size: 8;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  background-color: #e2ab7f;
  border: 1px solid black;
  border-radius: 10px;
}

.pbar{
  display: block;
  height: 4vh;
  background-color: white;
}

@media (max-width: 650px){
  .cb_button{
    width: 20vw;
  }

  .advp{
    width: 90vw;
  }
}

#timer{
	position: absolute;
	z-index:4;
	top:40vh;
	left:50%;
  transform: translate(-50%, -50%);
}

#timer span{
	font-size: 25vh;
	color:white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.game{
  display: block;
  width: auto;
  height: 16vh;
  margin-top: 1vh;
  cursor: pointer;
}

.game img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: filter 0.2s;
}

.game img:hover{
  filter: brightness(125%);
}

@media (max-height: 400px){
  button:not(.jsoverlay button){
    margin: 1px !important;
    padding: 0 !important;
  }
}

@media (max-height: 500px){
	.game{
	  display: inline-block;
	  margin-left: 0.25vw;
	  margin-right: 0.25vw;
	}
}

@media (max-width: 1000px){
  .advp{
    width: 60vw !important;
  }

  .advp button{
    font-size: 4vh !important;
  }
}

.leaderbords{
  display: block;
  color: white;
}

.leaderbords .lbhead{
  font-size: 2vh;
  white-space: nowrap;
}

.lbhead img{
  width: auto;
  height: 5vh;
  cursor: pointer;
}

.lbhead img:hover{
  filter: brightness(125%);
}

.lbhead img:active{
  filter: brightness(150%);
}

.leaderbord{
  display: inline-block;
  width: 95vw;
  margin-right: 0.5vw;
}

.leaderbord_data{
  display: block;
  width: 100%;
  max-height: 50vh;
  overflow: hidden;
}

.leaderbord_data .row{
  display: block;
  background-color: #7674e4;
}

.leaderbord_data .col{
  display: inline-block;
  width: 10vw;
  text-align: center;
  color: white;
}

.leaderbord_data_rows{
  position: relative;
  top: 0px;
  left: 0px;
}

.leaderbord_data_rows *{
  pointer-events: none;
}

.leaderbord_data_rows > :nth-child(even) {
    background-color: #9190de !important;
}

.col img{
  width: auto;
  height: 6vh;
}

.col span{
  font-size: 2vh;
}

@media (max-width: 433px){
  .col span{
    font-size: 1vh !important;
  }
}

.no_p_events *{
  pointer-events: none;
}
